.modal {
  background: white;
  border: 1px solid black;
  border-radius: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  left: 5%;
  position: fixed;
  top: 5vh;
  width: 90%;
  z-index: 100;
}

.modal__header {
  background: black;
  border-radius: 10px;
  color: red;
  padding: 1rem;
}

.modal__header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.modal__content {
  padding: 1rem;
}

.modal__content h1 {
  color: red;
  text-decoration: underline;
}

.modal__content p {
  font-size: 1.25rem;
}

.modal__actions {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

@media (min-width: 768px) {
  .modal {
    width: 100%;
    left: calc((100% - 30rem) / 2);
  }
}
