.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 4.5rem;
  background: rgb(46, 44, 44);
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.75);
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.image {
  height: 5rem;
  width: 5rem;
}

.main-navigation__items ul {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation__items li {
  margin: 0 1rem;
}

.main-navigation__items a,
.main-navigation__items button {
  text-decoration: none;
  color: white;
  padding: 0.25rem 0.5rem;
  border: none;
  font: inherit;
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
}

.main-navigation__items a:hover,
.main-navigation__items a:active,
.main-navigation__items a.active,
.main-navigation__items button:hover,
.main-navigation__items button:active {
  background: red;
  color: black;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .main-navigation__logo h1 {
    display: none;
  }
  .main-navigation__items a,
  .main-navigation__items button {
    display: none;
  }
  .main-navigation__items li {
    margin: 0.2rem;
  }
}

@media (min-width: 769px) {
  .main-navigation__toggle-button {
    display: none;
  }
}
